@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Fonte local */
@font-face {
    font-family: 'android';
    src: url(fontes/IDroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Variáveis */
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', sans-serif;
}

body {
    background-color: #5cebd6;
    font-family: var(--fonte-padrao);
   
}

h1 { 
    
    font-family: var(--fonte-destaque);
    color: var(--cor5);
   
}

h2 {

font-family: var(--fonte-android);
font-weight: normal;

}

.mascote {

font-family: var(--fonte-android);

}


nav {
    display: flex;
    gap: 30px;
    background-color: var(--cor5);
    justify-content: center;
    padding: 15px 0 20px 0; /* adiciona 20px extra embaixo */
    box-shadow: 2px 6px 10px rgba(0,0,0,0.42);
}


nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
    
    
}

nav a:hover {
    text-decoration: none;
    background-color: var(--cor3);
    display: block;  
     

}

header {
  background-image: linear-gradient(to bottom, #2fa866, #063d1e);
  min-height: 150px;
  padding-bottom: 20px;
}



header h1 {

 color: white;
 margin-bottom: 20px;
 font-size: 65px;
 text-shadow: 1px 1px 10px black;
 font-weight: normal;

}

header p {
  color: white;
  text-shadow: 1px 1px 10px black;
}


main {
    background-color: white; /* fundo branco */
    padding: 20px 20px 20px 20px;       /* espaço interno */
    margin-top: 0;           /* remove margem que poderia colapsar */
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

main a {

text-decoration: none;
font-weight: bold;
color: var(--cor5);
 background-color: var(--cor2);

}

footer {

    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 50px;
}
    
 header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  
}

    

* {
    margin: 0%;
    padding: 0%;
}


/* Todas as imagens do main ficam responsivas */
main img {
  max-width: 100%;  /* nunca ultrapassa o tamanho do pai */
  height: auto;     /* mantém proporção */
  display: block;
  margin: auto;
}

/* Bugdroid específico */
.bugdroid {
    width: 100%;      /* sempre acompanha o contêiner pai */
    max-width: 300px; /* limite máximo */
    height: auto;     /* mantém proporção */
    display: block;
    margin: auto;     /* centraliza */
}


ul {
  list-style-position: inside;
}

/* Dan-droids */
.dan-droids img {
     
}

/* Irina */
.irina img {
  width: 100%;       /* sempre acompanha o pai */
  height: 200px;     /* fixa altura */
  object-fit: cover; /* corta se precisar */
}

main p {

margin: 15px 0px 15px 0px;
text-align: justify;
text-indent: 30px;
font-size: 1em;
line-height: 2em;

}

main a:hover {

 text-decoration: underline;

}

main h2 {

    background-image: linear-gradient(to right, #3ddc84, transparent)
    


}

aside { 

    background-color: var(--cor1);
    border-radius: 10px;
    padding: 20px;


}

aside ul {

    columns: 2;
    list-style-type: '\2714\00A0\00A0';

}

aside h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -20px -20px 15px -20px;
    border-radius: 10px 10px 0 0;
}

a.externo::after {

    content: '\1F517';
}                                    

main h1 {

    font-weight: normal;


}

h3 {

font-weight: normal;

}



figure.video {
    background-color: var(--cor5);
    padding: 20px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

figure.video iframe {
    width: 100%;        /* ocupa tudo */
    max-width: 900px;   /* quase toda a largura do main */
    height: 500px;      /* deixa mais alto */
}
